<!DOCTYPE html>
<html>
    <body>
        <h1>My first express view</h1>
        <p>this is index express view</p>
        <span id="http-output"></span>
        <br>
        <span id="http-json-output"></span>

    </body>
    <script>
        const httpOutput = document.getElementById("http-output");
        const httpJsonOutput = document.getElementById("http-json-output");
        fetch('http://localhost:8000/getMessage')
        .then((res) => res.text())
        .then((data) => {
            console.log(data);
            httpOutput.innerText = data;
        })

        fetch('http://localhost:8000/getMessageJson')
        .then((res) => res.json())
        .then((data) => {
            console.log(data.message);
            httpJsonOutput.innerText = data.message;
        })
    </script>
</html>